
body {
  background-color: #f4f7fc;
  color: #222;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  padding: 30px;
}

video {
  width: 320px;
  border-radius: 16px;
  border: 2px solid #ddd;
  margin: 20px 0;
}

#produto img {
  width: 180px;
  border-radius: 8px;
  margin: 10px;
}

button {
  margin-top: 20px;
  background-color: #2a4e96;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #203b75;
}
